# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
*.iml
*.ipr
*.iws
.vscode

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
*.md

# Logs
*.log
